    *{
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif;
color:#fff!important;
line-height: 2.5em.
    }

    h1{
font-family: 'Montserrat Alternates', sans-serif;
font-size:3em ;

    }
    h2{
font-size:1.8em ;
    font-weight: bold;

    }
p{
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
text-align: left;

}
.efeito{animation: fadein 2s;-moz-animation: fadein 2s; /* Firefox */-webkit-animation: fadein 2s; /* Safari and Chrome */-o-animation: fadein 2s; /* Opera */max-width: 100%;}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
 .quadro-white{min-height: 90vh;background-color: #ffffff20;display: flex;align-items: center;justify-content: center;flex-direction: column;min-height: 768px;width:80vw;border-radius:10px;border:1px solid #ffffff20;}

.img-mask{

clip-path: circle(16% at 50% 50%);

position: relative;

top: -210px;
}
 .ajuste-2{

position: absolute;
bottom: -80px;    width: 95%;

 }

@media only screen and (max-width: 768px) {

.ajuste-2{

position: relative;

bottom: 220px;

width: 100%;

height: 100%;
}
p{
    margin: 55px auto 30px;
}

h1{
    
font-size: 2.5em!important;
}

.quadro-white{
    width: 97vw;
    position: relative;
    margin-top: 50px;
    min-height: auto;
    margin: 80px auto 50px!important;
    border: 0;
    height: 1120px;
}

.img-mask{

clip-path: circle(16% at 50% 50%);

position: relative;

top: -130px;

max-width: 100%;
}

}
